.footer {
    border-top: 2px solid rgb(75, 75, 75);
    height: 7em;
    display: flex;
    align-items: flex-end;
    background-color: #1a1919;
    div {
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
}
